{%extends 'base.html'%}
{% load bootstrap %}


{%block title%}New Item{%endblock%}

{%block nav_new_item%}active{%endblock%}

{%block main%}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-8">
            {{form.name|bootstrap}}
        </div>
        <div class="col">
            {{form.tag|bootstrap}}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            {{form.place|bootstrap}}
            <!--<textarea class="form-control" placeholder="Describe where it is" rows="3"></textarea>-->
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-5">
            <div class="custom-file">

                {{form.image|bootstrap}}

            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>
    </div>
    <!--{{form.last_update}}-->
</form>
{%endblock%}